@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.min.css";


body {
    background: linear-gradient(to bottom, #7c0000, #ffdd00);
    height: 100vh; /* Imposta l'altezza al 100% del viewport height */
    margin: 0; /* Rimuovi il margine predefinito del body */
    font-family: Arial, sans-serif; /* Opzionale: Imposta il font del testo */
    color: #fff; /* Opzionale: Imposta il colore del testo su bianco */
    display: flex; /* Opzionale: Utilizza il flexbox per centrare il contenuto */
    justify-content: center; /* Opzionale: Centra il contenuto orizzontalmente */
    align-items: center; /* Opzionale: Centra il contenuto verticalmente */
  }